@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
	-webkit-user-drag: none;
}

.btn-scale {
	@apply transition-all hover:scale-110 active:scale-90;
	/* !woc新属性grayscale!额可惜效果好不明显…… hover:grayscale active:grayscale-0 */
}

.btn-white {
	@apply bg-white hover:bg-gray-100 active:bg-gray-200
}

.btn-blue {
	@apply text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700
}

.underline-animation::before {
	content: '';
	height: 2px;
	background: gray;
	/* 伪元素默认样式 display: inline;所以需要转成inline-block宽高才会生效 */
	display: inline-block;
	/* 通过定位使下划线在最低层 */
	position: absolute;
	bottom: 8px;
	width: 0;
	/* 加上一个过渡效果，使之丝滑一些 */
	transition: width 0.2s;

	/* &:hover {
		width: 100%;
	} */
}

.underline-animation:hover::before {
	width: 100%;
}

ul::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background: black;
	margin-left: 5px;
	margin-right: 5px;
}

/* //**----------------------------Animation----------------------------------------------------- */
@keyframes setTop {
	from {
		/* height: 100vh; */
		/* !用height始终会出现抽搐的问题 */
		transform: scale3d(1, 1, 1);
		/* margin-bottom: 0; */
		top: 0;
		/* position: relative; */
	}

	to {
		/* height: 50vh; */
		transform: scale3d(1, 0.3, 1);
		/* margin-bottom: -500px; */
		top: 95vh;
		/* top: calc(80vh+80px); */
		/* !注意不能用100vh不然抽搐 */
		/* position: sticky; */
	}
}

@keyframes zoomIn {
	from {
		transform: scale3d(0.3, 0.3, 0.3);
		opacity: 0;
	}

	to {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

/* .animation-MOJ-timeline {
	scroll-timeline: MOJ-timeling;
} */

.animation-MOJ {
	animation: setTop 0.3s linear;
	animation-timeline: view();
	/* animation-timeline: MOJ-timeling; */
	animation-range: 50% 100%;
}

.animation-MOJ-detail {
	animation: zoomIn 1s ease-in-out;
	animation-timeline: view();
	/* animation-timeline: MOJ-timeling; */
	animation-range: 0 300px;
	/* ~~？？这个不能用vh和%的吗？ */
}